#productListWrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 60px 20px 20px;
}
#productsViewed {
    text-align: center;
    margin: 10px 0 20px 0;
}
#showMore {
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
    background-color: rgb(111, 111, 111);
    border-radius: 4px;
    color: white;
    width: 100px;
}
#showMore:hover {
    cursor: pointer;
    background-color: black;
}